body {
    background-color: bisque;
}

.container {
    height: 100%;
}

.search-area {
    position: relative;
    height: 75px;
    width: 200px;
    left: 50%;
    margin-left: -100px;
    top: 50%;
    margin-top: -37.5px;
    background-color: cornsilk;
    padding: 10px;
    border-radius: 10px;
    transition: left 0.5s, width 0.5s, margin 0.5s, top 0.25s;
}

.icon {
    position: relative;
    display: inline-block;
    font-size: 75px;
    height: 75px;
    width: 75px;
    margin: -12.5px 0 0 0;
    padding: 0 0 0 0;
    color: black;
}

.icon-search {
    float: left;
}

.icon-random {
    float: right;
    padding-top: 4px;
}

.search-query {
    border: none;
    height: 70px;
    margin-top: -7.5px;
    font-size: 70px;
    width: 100%;
    background-color: transparent;
    padding-right: 160px;
    color: transparent;
}

input:focus {
    outline: none;
}

.search-query {
    position: absolute;
    border: none;
    z-index: 0;
}

.search-close {
    display: none;
    float: right;
    margin-right: -15px;
    z-index: 5;
}

.result-area {
    margin-top: 75px;
    height: auto;
    width: 100%;
}

.result {
    background-color: cornsilk;
    border-radius: 10px;
    height: auto;
    max-height: 220px;
    padding: 10px;
    margin: 10px 0 10px 0;
    font-family: Baloo;
    overflow: hidden;
    border: 2px transparent solid;
}

a {
    color: black;
}

a:hover {
    color: black;
    text-decoration: none;
}

.result:hover {
    border-color: burlywood;
}

.result-description {
    font-size: 25px;
}
